<!DOCTYPE html>
<html lang="en-us">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>PROJECT-2</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<!-- https://getbootstrap.com/docs/4.0/components/navbar/ -->
<body>
    <!--Navbar adjustments-->
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">               
            <a class="navbar-brand" href="/" >FLIGHTS</a>
            
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">    
                    <li class="nav-item">
                        <a class="nav-link" href ="/map">MAP</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/plots">DATA</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    
<!-- <body>
    <div class="container-fluid">
        <div class="jumbotron text-left">
            <h1>PROJECT 2</h1>
            <!-- button added w/the link  -->
            <!-- <div class="jumbotron text-right"> -->
            <p><a class="btn btn-primary btn-lg" href="/map" role="button">AIRPORTS</a>   
                <a class="btn btn-primary btn-lg" href="/plots" role="button">AIRLINES</a></p>
            <!-- </div> -->
        </div>
    </div> -->

    <!--INFO... -->
    <div class="container">
        <div class="col-md-12">
            <h1 style= "font-style: bolder; color: darkred; font-display: xx-large; font-weight: bolder;"> AIRPORTS & AIRLINES</h1>
            <h3>Traveling soon?  
                <p>Does your airline have high flight delays?</p></h3>
            
        </div>

        <div class="col-md-8">
            <h2>AIRPORTS</h2>
            <img src="/images/planes.png" alt="Airports" class="imageNav-photo"> 
        </div>

        <div class="col-md-4">
            <div class="table">
                <h2>AIRLINES</h2>
                <p>-------------------</p>
                <img src="/images/flight_delays.png" alt="Delays" class="imageNav-photo"> 
            </div>  
        </div>
    </div>

    <!--hemisphere images and titles-->
    <div class="container">
        <h3 align="center"> MORE INFORMATION</h3>
        <hr>
            <div class="card">
                <!-- {% for image in mars.hemisphere_image_urls %} -->
                <div class="col-md-6">
                    <!-- <img class="thumbnail" src="{{image.img_url}}" width="100%" alt="{{image.title}}">  -->
                    <div class="card-body">
                        <h4 class="card-title">___________</h4>    
                    </div>
                </div>
                <!-- {% endfor %} -->
            </div>   
    </div>
</body>

<footer>
    <br>
    <div style="color: rgb(133, 0, 0)">Copyright 2020 - PROJECT-2: <a style= "font-weight: larger; color: darkred;"> Wei, Irene, Adam, Desiree  </a>
    <hr>
</div>
</footer>

</html>