<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> PROJECT-2</title>

    <!-- bootstrap and css stylesheet link -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <!-- <link rel="stylesheet" href="../static/css/leaflet_style.css">
    <link rel="stylesheet" href="../static/css/table_style.css"> -->
</head>
    
<body>
    <!--Navbar adjustments-->
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">               
            <a class="navbar-brand" href="index.html" >ABOUT</a>
            
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">    
                    <li class="nav-item">
                        <a class="nav-link" href ="map.html">MAP</a>
                    </li>
                    <p></p>
                    <li class="nav-item">
                        <a class="nav-link" href="plots.html">DATA</a>
                    </li>
                    <p></p>
                    <li class="nav-item">
                            <a class="nav-link" href="table.html">TABLE</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
        
    <!-- create a container -->

    <div class="jumbotron big-banner" >
            <div class="container">
                <div class="row">
                    <div class="col-md-10 text-light">
                        <div class="thumbnail">
                <h2>AIRPORTS</h2>
                <img src="/images/planes.png" alt="Airports" class="imageNav-photo"> 
            </div>

            <div class="col-md-10 text-light">
                <div class="row"></div>
                <div class="data">
                    <h3 class="header">Data Sources</h3>
                    <li><a href=" https://www.flightglobal.com/news ">Flight Global <i class="fas fa-external-link-alt"></i></a></li>
                    
                    <li><a href = "https://www.usatoday.com/travel/airline-news/">Airlines USA TODAY <i class="fas fa-external-link-alt"></i></a></li>
                </div>   
            </div>
        </div>
    </div>

        <div class="container">
            <section class="row">
              <div class="col-md-10">
                <article class="description-content">
                  <h1 class="description-header">Traveling Soon?</h1>
                  <hr class="description-hr"/>
                  <!-- <img src="/images/flight_delays.png" alt="" id="description-image"/> -->
                  <p><strong>How busy are flights in the beginning of the year?</strong> </p>
                  <p>Will your flight be delayed?</p>
                </article>
              </div>
              <div class="col-md-4">

        <div class="col-md-8 text-light">
            <h3 class="header">Airports & Airlines</h3>
            <p></p>
            <p></p>
            <p><strong>AIRLINES</strong> </p>
            <p>Airlines Details </p>
            <br>
            <p><strong>AIRPORTS</strong></p>
            <p>Airports Details </p>
            <p>__________________________________________ </p>
            <br>
            
        </div>
    </div>



    <!-- Footer -->
    <footer class="footer font-small footer-dark">
        <div class="footer-copyright text-center py-1">Wei, Irene, Adam, Desiree
            <p>© Copyright Coding Bootcamp 2021</p></div>      
    </footer>

</body>
</html>